<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{ firstName }} {{ lastName }}</h2>
            <h4>{{ email }}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader> Pages </h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" *ngIf="role=='DRIVER'">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/map" *ngIf="role=='DRIVER'">Map</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/myJobs" *ngIf="role=='DRIVER'">My jobs</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" *ngIf="role=='MANAGER'">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/managerMap" *ngIf="role=='MANAGER'">Map</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/jobs" *ngIf="role=='MANAGER'">All jobs</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addJob" *ngIf="role=='MANAGER'">Add job</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/allDrivers" *ngIf="role=='MANAGER'">All drivers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/selectDrivers" *ngIf="role=='MANAGER'">Assign jobs</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/register" *ngIf="role== 'MANAGER'">Add new driver</a>

    <mat-divider></mat-divider>

</mat-nav-list>