<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{ username }}</h2>
            <h4>{{ email }}</h4>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader> Pages </h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/map">Map</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addJob">Add job</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/allDrivers">All drivers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/selectDrivers">Select drivers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/newDriver">Add new driver</a>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/" *(ngIf)="user.role=='ROLE_USER'">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/map" *(ngIf)="user.role=='ROLE_USER'">Map</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/jobs" *(ngIf)="user.role=='ROLE_USER'">My jobs</a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" *(ngIf)="user.role=='ROLE_MODERATOR'">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager/map" *(ngIf)="user.role=='ROLE_MODERATOR'">Map</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addJob" *(ngIf)="user.role=='ROLE_MODERATOR'">Add job</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/allDrivers" *(ngIf)="user.role=='ROLE_MODERATOR'">All drivers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/selectDrivers" *(ngIf)="user.role=='ROLE_MODERATOR'">Select drivers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/newDriver" *(ngIf)="user.role=='ROLE_MODERATOR'">Add new driver</a> -->

    <mat-divider></mat-divider>

</mat-nav-list>